<div class="container">
    <ul class="list-inline text-center">

      <li class="list-inline-item">
        <a href="mailto:{{ site.email }}">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li class="list-inline-item">
        <a target="_blank" href="https://twitter.com/ajinkyab12">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li class="list-inline-item">
        <a target="_blank" href="https://www.linkedin.com/in/ajinkyabapat/">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li class="list-inline-item">
        <a target="_blank" href="https://stackoverflow.com/users/6202024/ajinkya-bapat">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li class="list-inline-item">
        <a target="_blank" href="https://github.com/AjinkyaBapat/">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

    </ul>
  </div>